*{
    margin: 0px;
padding: 0px;
}
#out{
    border: solid 1px;
    height: 600px;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: 1350px 600px;

}
h1{
    color: white;
    font-size: 50px;
    margin-top: 120px;
    margin-left: 40px;
}
#register,#login{
    height: 60px;
    width: 150px;
    background-color: goldenrod;

}
#register{
    margin-left: 150px;
}
#register a,#login a{
    color: brown;
    font-size: 30px;
    text-decoration: none;
}
#register:hover{
    background-color: pink;
}
#login:hover{
    background-color: pink;
}